.container{
  max-width: 786px;
  margin: 0 auto;
  padding: 0 20px;
}

.card--logo{
  width: 100%;
  text-align: center;
  background: #e2655f;
}
.card--logo img{
  width:200px;
}

.card--img img{
  width: 160px;
  height: 185px;
  border-radius: 20px;
}

.card--row{
  display: flex;
  gap: 30px;
  margin-top: 30px;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.card--location {
  display: flex;
  align-items: center;
  gap:10px;
}

.card--location img{
  width: 20px;
}
.card--city{
  font-weight: normal;
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.card--location a{
 color: #918E9B;
}

.card--place{
  margin-top: 10px;
  font-size: 1.5rem;
}

.card--date{
  font-weight: bold;
  margin-top: 20px;
  display: block;
}

.card--discription{
margin: 0;
margin-top: 10px;
font-size:0.9rem;
line-height: 1.4;
max-width: 400px;
}